<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>servlets.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlHeroesServlet</servlet-name>
        <servlet-class>servlets.CrawlHeroesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllHeroesServlet</servlet-name>
        <servlet-class>servlets.GetAllHeroesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlHeroesServlet</servlet-name>
        <url-pattern>/CrawlHeroesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllHeroesServlet</servlet-name>
        <url-pattern>/GetAllHeroesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
</web-app>
