/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    font-family: Constantia;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #2d2d2b;
    color: white;
    font-family: Constantia;
}

.clear {
    clear: both;
}

.logo {
    margin: 10px 0 10px 0;
    text-align: center;
}

.navBar {
    width: 100%;
    height: 75px;
    background-color: #4d4d4d;
    text-align: center;
}

.navBar > div {
    display: inline-block;
    width: 300px;
    height: 75px;
    margin-top: 16px;
    vertical-align: middle;
}

.navBar > div > a:hover {
    color:white;
    text-decoration: underline;
}

.navBar > div > a {
    font-weight: 900;
    text-decoration: none;
    color:lightgrey;
    font-size: 32px;
}

.navBar > div > a:active {
    text-decoration: underline;
}	

.content-frame {
    margin: 40px 50px 0 50px;
    border: 2px solid white;
    height: 600px;
    box-shadow: -13px -13px 20px 10px black, 13px 13px 20px 10px black;
}

.search {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    align-items: center;
}

.search > * {
    /*vertical-align: middle;*/
    font-size: 28px;
    margin: 0 10px 0 10px;
}

.search > input {
    padding-bottom: 0px;
    border-radius: 5px;
    background-color: grey;
    padding: 0 15px 0 15px;
}

input {
    color: white;
    font-family: Constantia;
}

.float_left {
    float: left;
    position: relative;
}

.img_content {
    margin: 0 0 0 30px;
}

.hero-selection {
    float: left;
    position: relative;
    margin: 0 10px 5px 0;
    box-sizing: border-box;
    transition: all .05s ease-in-out;
}

.hero-img {
    width: 70px;
    height: 39.266px;
}

.hero-selection:hover {
    transform: scale(1.5);
    z-index: 3;
    outline: 4px solid white;
    outline-offset: -4px;
}

.hero_attribute {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 900;
    color: lightgrey;
}

.hero_attribute > img {
    margin-right: 5px;
    margin-bottom: 20px;
}

.select_hero {
    margin-top: 15px;
}